# misc
.DS_Store
.vscode
*.idea*
__pycache__
*.DS_Store*
dist
cellxgene_schema_cli/build
cellxgene_schema_cli/dist
*.egg-info
**ipynb_checkpoints**

# enviroments
venv/

# sc matrices
*.RDS
*.h5ad
*.mtx
*.mtx.gz
*.loom
*.loom.gz
./datasets/biccn-yao_integrated_transcriptomic_and_epigenomic_atlas/data/original/10X_cells_v2_AIBS
./datasets/biccn-yao_integrated_transcriptomic_and_epigenomic_atlas/data/original/10X_cells_v3_AIBS
./datasets/biccn-yao_integrated_transcriptomic_and_epigenomic_atlas/data/original/10X_nuclei_v2_AIBS
./datasets/biccn-yao_integrated_transcriptomic_and_epigenomic_atlas/data/original/10X_nuclei_v3_AIBS
./datasets/biccn-yao_integrated_transcriptomic_and_epigenomic_atlas/data/original/10X_nuclei_v3_Broad
./datasets/biccn-tasic_2018/data/original/GSE115746_cells_exon_counts.csv.gz

# Include h5ads in tests
!cellxgene_schema_cli/tests/fixtures/h5ads/*

# Kozareva big files
cb_annotated_object.RDS
cerebellum_metadata_updated_custom.tsv

# Zheng big files
datasets/biccn-zhang/data/original/dataset_metadata.xlsx
datasets/biccn-zhang/data/original/umap_embedding.csv

# Tasic 2018 bigfiles
GSE115746_cells_exon_counts.csv.gz

# Zheng big files
datasets/biccn-zhang/data/original/cell_metadata.csv
