## Deprecated Terms in Public Collections:

{% for collection in deprecated_public %}
Collection ID: {{ collection }}
    {% for dataset_groups in deprecated_public[collection].dataset_groups %}
    Affected Datasets:
        {{ dataset_groups.datasets  | join(', ') | wordwrap(78) | replace('\n', '\n        ')}}
    Number of Affected Datasets: {{ dataset_groups.num_datasets }}
    Number of Deprecated Terms in Group: {{ dataset_groups.deprecated_genes|length }}
    Number of Terms in Group: {{ dataset_groups.num_genes }}
    Deprecated Terms:
        {{ dataset_groups.deprecated_genes  | join(', ') | wordwrap(78) | replace('\n', '\n        ')}}

    {% endfor %}
{% endfor %}
## Deprecated Genes in Private Collections:

{% for collection in open_revisions %}
Collection ID: {{ collection}}
{% if open_revisions[collection].revision_of %}
Note--In A Revision of: {{ open_revisions[collection].revision_of }}
{% endif %}
    {% for dataset_groups in open_revisions[collection].dataset_groups %}
    Affected Datasets:
        {{ dataset_groups.datasets  | join(', ') | wordwrap(78) | replace('\n', '\n        ')}}
    Number of Affected Datasets: {{ dataset_groups.num_datasets }}
    Number of Deprecated Terms in Group: {{ dataset_groups.deprecated_genes|length  }}
    Number of Terms in Group: {{ dataset_groups.num_genes }}
    Deprecated Terms:
        {{ dataset_groups.deprecated_genes  | join(', ') | wordwrap(78) | replace('\n', '\n        ')}}

    {% endfor %}
{% endfor %}
## The Following Public Collections Will Not Be Auto-Migrated Due To Having an Open Revision:
{% for collection in non_auto_migrated %}
{{ collection }}
{% endfor %}
