anndata==0.10.7
cellxgene-ontology-guide==0.4.0 # update before a schema migration
click<9
Cython<4
numpy<2
pandas<2
PyYAML<7
wheel
scipy==1.13.0    # scipy 1.13.0 is not compatible with anndata <=0.10.6, revisit before next release
semver<4
xxhash<4
matplotlib<4
