anndata<0.12
cellxgene-ontology-guide==1.0.0 # update before a schema migration
click<9
Cython<4
numpy<3,>2
pandas>1.4.4,<2
PyYAML<7
scipy<2    # scipy 1.13.0 is not compatible with anndata <=0.10.6, revisit before next release
semver<4
xxhash<4
matplotlib<4
