anndata>=0.8,<0.12
git+https://github.com/chanzuckerberg/cellxgene-ontology-guide/@2024-q4/experimental-species#subdirectory=api/python
click<9
Cython<4
numpy<2
pandas>2,<3
PyYAML<7
scipy<2
semver<4
xxhash<4
matplotlib<4
