name: Gene Bump Dry Run

on:
  push:
    branches:
      - main
      - demo
    paths:
      - '**/cellxgene_schema_cli/cellxgene_schema/ontology_files/*.csv.gz'
      - '**/cellxgene_schema_cli/cellxgene_schema/ontology_files/*_diff.txt'

permissions:
  id-token: write
  contents: read

jobs:
  dry-run:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Python cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install -r schema_bump_dry_run_scripts/genes/requirements.txt
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 2700
      - name: Pull AWS Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          # TODO: Change to prod and make separate, manual dev workflow once ready for deploy
          secret-ids:
            AUTH0_SECRETS, corpora/backend/dev/auth0-secret
      - name: Run Dry-Run Script
        run: python3 -m scripts.schema_bump_dry_run_genes.gene_bump_dry_run
        env:
          corpus_env: "dev" # TODO: Change to prod and make separate, manual dev workflow once ready for deploy
      - name: upload to slack
        run: |
          curl -F file=@genes-curator-report.txt -F "initial_comment=Gene Dry Run Report" -F channels=${{secrets
          .SLACK_CURATOR_REPORTING_CHANNEL}} -H "Authorization: Bearer ${{secrets.SLACK_CURATOR_REPORTING_APP_AUTH}}" https://slack.com/api/files.upload

