name: Updates to Ontology Files

on:
  push:
    paths:
      - '**/cellxgene_schema_cli/cellxgene_schema/ontology_files/gene_info.yml'
      - '**/cellxgene_schema_cli/cellxgene_schema/ontology_files/owl_info.yml'
    branch-ignore:
      - main

jobs:
  ontology-processing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: ontology changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            owl_info:
              - 'cellxgene_schema_cli/cellxgene_schema/ontology_files/owl_info.yml'
            gene_info:
              - 'cellxgene_schema_cli/cellxgene_schema/ontology_files/gene_info.yml'
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Python cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: install requirements
        run: |
          pip install -r cellxgene_schema_cli/requirements.txt
      - name: setup git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: owl-processing
        if: ${{ steps.filter.outputs.owl_info == 'true' }}
        run: |
          make download-ontologies -C cellxgene_schema_cli
          git add ./cellxgene_schema_cli/cellxgene_schema/ontology_files/all_ontology.json.gz
      - name: gene-processing
        if: ${{ steps.filter.outputs.gene_info == 'true' }}
        run: |
          make gene-processing -C cellxgene_schema_cli
          git add ./cellxgene_schema_cli/cellxgene_schema/ontology_files/genes_ercc.csv.gz
          git add ./cellxgene_schema_cli/cellxgene_schema/ontology_files/genes_sars_cov_2.csv.gz
          git add ./cellxgene_schema_cli/cellxgene_schema/ontology_files/genes_homo_sapiens.csv.gz
          git add ./cellxgene_schema_cli/cellxgene_schema/ontology_files/genes_mus_musculus.csv.gz
      - name: Commit
        if: ${{ steps.filter.outputs.gene_info == 'true'  || steps.filter.outputs.owl_info == 'true' }}
        run: |
          git commit -m "AUTO: update ontologies"
          git push

  unit-tests:
    runs-on: ubuntu-latest
    needs: ontology-processing
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Python cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install -r cellxgene_schema_cli/requirements.txt
          pip install pytest
      - name: Unit tests
        run: make unit-test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
