name: Publish Patch Version of cellxgene_schema_cli to PyPI

on:
  push:
    branches:
      - demo
    paths:
      - '**/cellxgene_schema_cli/cellxgene_schema/migrate.py'

jobs:
  publish-to-pypi:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Build dist
        run: >-
          make pydist
      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          packages-dir: cellxgene_schema_cli/dist/
      - name: Install and Test Package from Test PyPI
        run: |
          pip install --index-url https://test.pypi.org/simple/ cellxgene-schema
          cellxgene-schema validate cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
# TODO: Uncomment once ready to release to prod PyPI
#      - name: Publish distribution to PyPI
#        if: startsWith(github.ref, 'refs/tags')
#        uses: pypa/gh-action-pypi-publish@release/v1
#        with:
#          password: ${{ secrets.PYPI_API_TOKEN }}
#          package-dir: cellxgene_schema_cli/
