name: Publish to PyPI

on:
  workflow_dispatch

jobs:
  publish-to-pypi:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          check-latest: true
      - name: Build dist
        id: build
        run: |
          pip install wheel
          pip install -U setuptools
          make pydist
          cd cellxgene_schema_cli
          echo "version=`python setup.py --version`" >> $GITHUB_OUTPUT
          cd ..
      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          packages-dir: cellxgene_schema_cli/dist/
      - name: Confirm publish to Test PyPI
        uses: nick-fields/retry@v3
        with:
          max_attempts: 15
          timeout_seconds: 30
          polling_interval_seconds: 5
          command: pip index versions --index-url https://test.pypi.org/simple/ cellxgene-schema | grep Available.*${{ steps.build.outputs.version }}
      - name: Install and Test Package from Test PyPI
        run: |
          pip install -r cellxgene_schema_cli/requirements.txt
          pip install --index-url https://test.pypi.org/simple/ cellxgene-schema
          cellxgene-schema validate cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: cellxgene_schema_cli/dist/
      - name: Confirm publish to PyPI
        uses: nick-fields/retry@v3
        with:
          max_attempts: 15
          timeout_seconds: 30
          polling_interval_seconds: 5
          command: pip index versions cellxgene-schema | grep Available.*${{ steps.build.outputs.version }}
