name: Trigger Schema Migration

on:
  workflow_dispatch

jobs:
  publish-to-pypi:
    name: Build and publish Python distributions to PyPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
#      - name: Build dist
#        run: |
#          pip install wheel
#          make pydist
#      - name: Publish distribution to Test PyPI
#        uses: pypa/gh-action-pypi-publish@release/v1
#        with:
#          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
#          repository-url: https://test.pypi.org/legacy/
#          packages-dir: cellxgene_schema_cli/dist/
      - name: Install and Test Package from Test PyPI
        run: |
          pip install -r cellxgene_schema_cli/requirements.txt
          pip install --index-url https://test.pypi.org/simple/ cellxgene-schema
          cellxgene-schema validate cellxgene_schema_cli/tests/fixtures/h5ads/example_valid.h5ad
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: cellxgene_schema_cli/dist/
      - name: Trigger rebuild of Data Portal Processing Image and Schema Migration
        run: |
          curl -X POST https://api.github.com/repos/chanzuckerberg/single-cell-data-portal/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          --header 'authorization: Bearer ${{ secrets.CZIBUILDBOT_GITHUB_TOKEN }}' \
          --data '{"event_type": "schema-migration"}'
